*

!.gitignore
!starship.toml
!nvim
!tmux
!fish
!fish/*
!fish/**/*

!wezterm
!wezterm/*
!wezterm/**/*

!zsh/
!zsh/zshrc

!zed/
!zed/settings.json
!zed/keymap.json

!oh-my-zsh

!brew/
!brew/Brewfile

!.editorconfig

