*

!.gitignore
!starship.toml
!nvim
!tmux

!nvim
!nvim/*
!nvim/**/*

!tmux
!tmux/*
tmux/plugins

!fish
!fish/*
!fish/**/*

!wezterm
!wezterm/*
!wezterm/**/*

!kitty
!kitty/*
!kitty/**/*

!zsh/
!zsh/zshrc

!zed/
!zed/settings.json
!zed/keymap.json

!kitty
!kitty/*
!kitty/**/*

!ghostty
!ghostty/*

!oh-my-zsh

!brew/
!brew/Brewfile

!git
!git/config.example

!.editorconfig

!hypr/
!hypr/*
hypr/custom.conf

!waybar/
!waybar/*

!wofi/
!wofi/*
